[run]
source = spectral_select
branch = True
omit =
    */tests/*
    */__pycache__/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if TYPE_CHECKING:
    @abstractmethod
    @abc.abstractmethod
    raise NotImplementedError
    if __name__ == .__main__.:
    class .*\bProtocol\):

show_missing = True
precision = 2

[html]
directory = htmlcov
